<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Battle</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body class="bodyRoom">
     <div class="containerRoomText">
        <h1 class="titleRoom" id="name-usuario" name="name-usuario" ><%= user %></h1>
     </div>

    <div class="containerBodyRoom">
      <div class="centerRoom">
        <div class="containerRoom">
          <div class="">
            <div class="formRoom1">
              <form action="room-join">
                <p class="textRoom"><strong>Unirse a sala</strong></p>
                <label class="labelRoom">Codigo de sala</label>
                <input class="inputRoom" type="text" id="in-code"><br>
                <div class="centrarButtoRoom"><button class="buttonRoom" >ingresa</button></div>
                
              </form>
            </div>

            <div class="formRoom2">
              <form action="room-create" method="POST">
                <p class="textRoom"><strong>crear sala</strong></p>
                <label class="  " >Nombre de la sala</label>
                <input class="inputRoomA" type="text" name="" id="name-room" > <br>
                <label class="labelRoom">Codigo de la sala</label>
                <input class="inputRoom" type="text" id="coderoom" readonly value="">
                <div class="centrarButtoRoom">
                  <button class="buttonRoom" >ingresa</button>
                  <button class="buttonRoom" id="code-btn" type="button" >Genera codigo</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>  
    </div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  const codigoInput = document.getElementById('coderoom');
  const codeBtn = document.getElementById('code-btn');
  
  codeBtn.addEventListener('click', function() {
    fetch('/generatecode')
      .then(response => response.json())
      .then(data => {
        codigoInput.value = data.codigo;
      })
      .catch(error => {
        console.error('Error al generar el código:', error);
      });
  });
});
</script>
</body>
</html>