<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Battle</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <div class="header-name">
        <h1 class="name-usuario"><%= user %></h1>
     </div>

    <div class="encabezado-unirse-crear">
      <div class="unirse-crear-container">
      <div class="unirse-crear">

        <div class="unirse-sala">

          <form action="room-join">
            <h1 class="crear">unirse a sala</h1>
            <label class="codigo">Codigo de sala</label>
            <input class="codigo-sala" type="text" id="in-code"> <br>
            <button class="botones-room">ingresa</button>
          </form>
        <hr>
        </div>

        <div class="crear-sala">
          <form action="room-create">
            <h1 class="crear">crear sala</h1>
            <label class="codigo">Nombre de la sala</label>
            <input class="name-codigo-sala" type="text" name="" id="name-room" > <br>
            <label class="codigo">Codigo de la sala</label>
            <input class="cod-codigo-sala" type="text" id="coderoom" readonly value=""> <br>
              <button class="botones-room">ingresa</button>
              <button id="code-btn" type="button" class="boton-room">Genera codigo</button>
            
          </form>
        
        </div>
      </div>
    </div>  
    </div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  const codigoInput = document.getElementById('coderoom');
  const codeBtn = document.getElementById('code-btn');
  
  codeBtn.addEventListener('click', function() {
    fetch('/generatecode')
      .then(response => response.json())
      .then(data => {
        codigoInput.value = data.codigo;
      })
      .catch(error => {
        console.error('Error al generar el código:', error);
      });
  });
});
</script>
</body>
</html>