<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Battle</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <div class="header-name">
        <h1 class="name-usuario"><%= user %></h1>
     </div>

    <div class="unirse-crear">
      
        <div class="unirse-sala">

          <form action="room-join">
            <h1>unirse a sala</h1>
            <h2>codigo de sala</h2>
            <input type="text" id="in-code"> <br><br>
            <button>ingresa</button>
          </form>
        
        </div>

        <div class="crear-sala">

          <form action="room-create">
            <h1>crear sala</h1>
            <h2>nombre de sala</h2>
            <input type="text" name="" id="nameroom" name="nameroom">
            <h2>codigo sala</h2>
            <input type="text" id="coderoom" name="coderoom" readonly value=""><button id="code-btn" type="button">Genera codigo</button><br><br>
            <button>ingresa</button>
          </form>
        
        </div>
        
    </div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  const codigoInput = document.getElementById('coderoom');
  const codeBtn = document.getElementById('code-btn');
  
  codeBtn.addEventListener('click', function() {
    fetch('/generatecode')
      .then(response => response.json())
      .then(data => {
        codigoInput.value = data.codigo;
      })
      .catch(error => {
        console.error('Error al generar el código:', error);
      });
  });
});
</script>
</body>
</html>