<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Battle</title>
    <link rel="stylesheet" href="/css/estilos.css">
    
</head>
<body class="bodyLogin">

    <div class="containerRegister">
        <p class="titleRegister" >Registrate</p> 
        <div class="containerLink">
            <p class="textLogin">Already have an account? </p><a class="linkLogin" href="/login" id="a-form">Inicia sesion</a>
        </div>
    </div>

    <div class="containerBodyLogin">
        <div class="containerLogin">
            <div class="centerLogin">
                <form action="/" id="userform" method="POST">
                    <p class="textUser">Usuario</p>
                    <input class="inputLogin" type="text" id="nickname" name="nickname">
                    <p class="textUser">Contraseña</p>
                    <input class="inputLogin" type="password" id="password" name="password"> <br>
                    <button class="buttonLogin" id="subir">Sube</button> <br>
                    <div class="errorSystem" >
                        <% if (error) { %>
                            <p><%= error %>!</p>
                        <% } else { %>
                            
                        <% } %>
                        
                    </div>
                </form>
            </div>
        </div>
        
        
    </div>
    <script src="/css/stilos.js"></script>
</body>
</html>