<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Battle</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body class="bodyStart">
    
    <div class="containerLogeate">
        <p class="titleLogeate">Logeate</p>
    </div>

    <div class="containerBodyRegister">
        <div class="containerRegister">
            <div class="">
                <form action="/create-room" id="userform" method="POST">
                    <p class="textRegister">Usuario</p>
                    <input class="inputRegister" type="text" id="nickname" name="nickname" >
                    <p class="textRegister">Contraseña</p>
                    <input class="inputRegister"  type="password" id="password" name="password" > <br> 
                    <button class="buttonRegister" id="subir">Sube</button>
                    <div class="errorSystem">
                        <% if (error) { %>
                            <p><%= error %>!</p>
                          <% } else { %>
                            
                          <% } %>
                    </div>
                    
                </form>
            </div>
        </div>
        
    </div>
</body>
</html>