<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Battle</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="logueate">
        <h1 class="letra">Logeate</h1>
    </div>

    <div class="register">
        <div class="register-1">
            <form action="/create-room" id="userform" method="POST">
                <h1 class="usuario">Usuario</h1>
                <input class="campoentrada" type="text" id="nickname" name="nickname" >
                <h1 class="contra">Contraseña</h1>
                <input class="campoentrada"   type="password" id="password" name="password" > <br> 
                <button id="subir" class="subir"><strong>Sube</strong></button>
                <div>
                    <% if (error) { %>
                        <h2><%= error %>!</h2>
                      <% } else { %>
                        
                      <% } %>
                </div>
            </form>
        </div>
        
    </div>

        

</body>
</html>