@use 'modulos';
.bodyLogin{
    background: modulos.$colorFondo;
}


.containerRegister{
    @include modulos.centraTexto();
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;

    .titleRegister{
        font-size: 25px;
        font-weight: bold;

    }

    .containerLink{
        @include modulos.centraTexto();
    
    .textLogin{
        color: white;
        font-size: 18px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .linkLogin{
        color: white;
        text-decoration: none;
        font-size: 20px;
        
    }
    .linkLogin:hover{
        text-decoration: underline;
        opacity: 0.5;
    }
    }
}

.containerBodyLogin{
    @include modulos.centraTexto();
    height: 500px;
    
    .containerLogin{
        @include modulos.centraTexto();
        @include modulos.container();
        
       
    .centerLogin{
        margin-left: auto;
        margin-right: auto;
        width: 260px;
    }
    .textUser{
        margin: 20px 0px 20px 0px;
    }
    .errorSystem{
        margin-left: auto;
        margin-right: auto;
        width: 265px;
        text-align: center;
    }
    .inputLogin{
        @include modulos.inputs();
        width: 260px;
        height: 25px;
        
    }
    .buttonLogin{
        @include modulos.boton();
        border: 0px;
        margin-top: 20px;
        width: 267px;
        height: 35px;
    }
    .buttonLogin:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonLogin:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }

    }

}

//login
.bodyStart{
    background-color: modulos.$colorFondo;
}
.containerLogeate{
    @include modulos.centraTexto();
    justify-content: start;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
    margin-left: 30px;

    .titleLogeate{
        font-size: 25px;
        font-weight: bold;
    }
}


.containerBodyRegister{
    @include modulos.centraTexto();
    height: 500px;
    
    .containerRegister{
        @include modulos.centraTexto();
        @include modulos.container();

    .centerRegister{
        margin-left: auto;
        margin-right: auto;
        width: 260px;
    }
    .textRegister{
        margin: 20px 0px 18px 0px;
        
    }
    
    .inputRegister{
        @include modulos.inputs();
        width: 260px;
        height: 25px;
        
    }
    .buttonRegister{
        @include modulos.boton();
        border: 0px;
        margin-top: 20px;
        width: 267px;
        height: 35px;
    }
    .buttonRegister:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonRegister:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }
    .errorSystem{
        margin-left: auto;
        margin-right: auto;
        width: 265px;
        text-align: center;
    }
    }
}

//room 
.bodyRoom{
    background-color: modulos.$colorFondo;
}

.containerRoomText{
    @include modulos.centraTexto();
    justify-content: start;
    color: white;
    height: 80px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;

    
    .titleRoom{
        font-size: 30px;
        font-weight: bold;
    }
}


.containerBodyRoom{
    @include modulos.centraTexto();
    height: 500px;
    color: white;
    .containerRoom{
        @include modulos.centraTexto();
        @include modulos.sala();
        height: 450px;
    .centerRoom{
        margin-left: auto;
        margin-right: auto;
        width: 260px;
    }
    .formRoom1{
        display: block;
        width: 450px;
    }
    .formRoom2{
        display: block;
    }

    .textRoom{
        margin: 20px 0px 18px 0px;
        
    }
    .labelRoom{
        font-size: 25px;
        margin-right: 10px
    }
    .labelRoomA{
        font-size: 25px;
        margin-right: 2px;
    }
    .inputRoom{
        @include modulos.inputs();
        width: 260px;
        height: 25px;
        
    }
    .inputRoomA{
        @include modulos.inputs();
        width: 260px;
        height: 25px;
        margin-bottom: 10px;
        
    }
    .buttonRoom{
        @include modulos.boton();
        border: 0px;
        margin-top: 20px;
        width: 200px;
        height: 35px;
    }
    .centrarButtoRoom{
        text-align: center;
    }
    .buttonRoom:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonRoom:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }
    .errorSystem{
        margin-left: auto;
        margin-right: auto;
        width: 265px;
        text-align: center;
    }
}
}
