@use 'modulos';
.bodyLogin{
    background: modulos.$colorFondo;
}


.containerRegister{
    @include modulos.centraTexto();
    color: white;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 80px;

    .titleRegister{
        font-size: 25px;
        font-weight: bold;

    }

    .containerLink{
        @include modulos.centraTexto();
    
    .textLogin{
        color: white;
        font-size: 18px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .linkLogin{
        color: white;
        text-decoration: none;
        font-size: 20px;
        transition:  text-decoration 0.8s ease;    
        
    }
    .linkLogin:hover{
        text-decoration: underline;
        opacity: 0.5;
    }
    }
}

.containerBodyLogin{
    @include modulos.centraTexto();
    height: 500px;
    justify-content: center;
    .containerLogin{
        @include modulos.centraTexto();
        color: white;
        font-size: 25px;
        width: 420px;
        height: 400px;
        background-color: modulos.$colorFondoForm;
        border-radius: 10px;
       
    .centerLogin{
        margin-left: auto;
        margin-right: auto;
        width: 260px;
    }
    .textUser{
        margin: 20px 0px 20px 0px;
    }
    .errorSystem{
        margin-left: auto;
        margin-right: auto;
        width: 265px;
        text-align: center;
    }
    .inputLogin{
        background-color: modulos.$colorFondo;
        border: 0px;
        color: white;
        width: 260px;
        height: 25px;
        border-radius: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .buttonLogin{
        font-weight: bold;
        border-radius: 5px;
        margin-top: 20px;
        width: 267px;
        height: 35px;
        background-color: modulos.$colorFondoButton;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .buttonLogin:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonLogin:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }

    }

}


