@use 'modulo';
body{
    margin: 0px;
    padding: 0px;
    
}

.logueate{
    @include modulo.HFbasico();
    height: 80px;
    background-color: modulo.$colorfono;
    .letra{
        margin: 0px 0px 0px 20px;
        padding: 0px;
        color: modulo.$colorletra;
    }
}

@media screen and (min-height:800px){
    .register{
        height: 700px; 
    }
}
@media screen and (max-height:690px){
    .register{
        height: 540px; 
    }
}



.register{
    justify-content: center;
    display: flex;
    align-items: center;
    
    }
    .register-1{
        @include modulo.container-registros();
        width: 350px ;
        height: 415px ;
        
    }
    .campoentrada{
        @include modulo.inputs();
    }
    
    .subir{
        @include modulo.botones();
    }
    .subir:hover{
        transform: scale(1.1) ;
        transition: 2s;
    }
    .subir:not(:hover){
        transform: scale(1) ;
        transition: 2s;
    }
    
    


// index

.container-index{
    @include modulo.HFbasico();
    height: 80px;
    background-color: modulo.$colorfono;
    justify-content: space-between;
    
    .registrar{
        color: modulo.$colorletra;
        margin: 0px 0px 0px 30px;
    }
    .iniciar-index{
        margin: 0px 30px 0px 30px;
        padding: 0px;
        color: rgba(0, 0, 0, 0.615);
        border: 2px solid black;
        border-radius: 10px;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }
    .iniciar-index:hover{
        scale: calc(1.05);
        color: rgba(0, 0, 0, 0.466);
        transition: 1s;
    }
    .iniciar-index:not(:hover){
        scale: calc(1);
        transition: 1.5s;
    }
}

@media screen and (min-height:800px){
    .contenedor-registro{
        height: 700px; 
    }
}
@media screen and (max-height:690px){
    .contenedor-registro{
        height: 600px; 
    }
}
.contenedor-registro{
    justify-content: center;
    display: flex;
    align-items: center;

    .registro{
        @include modulo.container-registros();
        width: 350px ;
        height: 480px ;
    }
    .usuario{
        margin-top: 0px;
    }
    
    .iniciar-index{
        margin: 5px 0px 0px 0px;
        padding: 0px;
        color: modulo.$colorletra;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .iniciar-index:hover{
        scale: calc(1.05);
        color: rgba(0, 0, 0, 0.466);
        transition: 1s;
    }
    .iniciar-index:not(:hover){
        scale: calc(1);
        transition: 1.5s;
    }
    .campo-index{
        @include modulo.inputs();
    }
    .subir-index{
        @include modulo.botones();
        margin-top: 25px;
        // margin-bottom: 2px;
        font-weight: bold;
    }
    .subir-index:hover{
        transform: scale(1.1) ;
        transition: 2s;
    }
    .subir-index:not(:hover){
        transform: scale(1) ;
        transition: 2s;
    }
    .error-index{
        margin: 0px 10px 0px 10px;
        color: black;
    }
    
}

// create-room

.header-name{
    @include modulo.HFbasico();
    height: 80px;
    background-color: modulo.$colorfono;
    .name-usuario{
        color: modulo.$colorletra;
        margin: 0px 0px 0px 30px;
    }
}

@media screen and (min-height:800px){
    .encabezado-unirse-crear{
        height: 750px; 
    }
}
@media screen and (max-height:690px){
    .encabezado-unirse-crear{
        height: 800px; 
    }
}
hr{
    width: 80%;
    margin-top: 20px;
}
.encabezado-unirse-crear{
    justify-content: center;
    display: flex;
    align-items: center;
    
    }

    .unirse-crear-container{
        @include modulo.container-registros();
        height: 500px;
        width:  550px;
        
    }
    .codigo-sala{
        @include modulo.inputs();
        height: 25px;
    }
    .name-codigo-sala{
        @include modulo.inputs();
        height: 25px;
        margin-left: -5px;
    }
    .cod-codigo-sala{
        @include modulo.inputs();
        height: 25px;
        margin-left: 15px;
        margin-top: 20px
    }
    .botones-room{
        @include modulo.botones();
        margin: 20px 0px 0px 0px;
    }
    .botones-room:hover{
        transform: scale(1.1) ;
        transition: 2s;
        font-weight: bold;
    }
    .botones-room:not(:hover){
        transform: scale(1) ;
        transition: 2s;
        font-weight: bold;
    }
    .boton-room{
        @include modulo.botones();
        width: 150px;
        margin: 20px 0px 0px 20px;

    }
    .boton-room:hover{
        transform: scale(1.1) ;
        transition: 2s;
        font-weight: bold;
    }
    .boton-room:not(:hover){
        transform: scale(1) ;
        transition: 2s;
        font-weight: bold;
    }
    .codigo{
        font-size: 25px;
        font-weight: bold;
        margin-right: 10px;
    }
   
    
    
    .crear{
        margin-bottom: 15px;
        color: modulo.$colorletra;
        color: black;
    }
    