@use 'modulo';
body{
    margin: 0px;
    padding: 0px;
    
}

.logueate{
    @include modulo.HFbasico();
    height: 80px;
    background-color: modulo.$colorfono;
    .letra{
        margin: 0px 0px 0px 20px;
        padding: 0px;
        color: modulo.$colorletra;
    }
}




.register{
    height: 520px;
    justify-content: center;
    display: flex;
    align-items: center;
    
    }
    .register-1{
        background-color: modulo.$colorfono;
        width: 350px ;
        height: 415px ;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: modulo.$tipoletra;
        color: modulo.$colorletra;
        border-radius: 30px;
        border: 2px solid black;
    }
    input{
        width: 250px;
        height: 36px;
        border-radius: 10px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    .usuario{
        margin-top: 0px;
    }
    button{
        margin-top: 40px;
        margin-bottom: 0px;
        height: 36px;
        width: 120px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;

    }
    .subir:hover{
        transform: scale(1.1) ;
        transition: 2s;
        
    }
    .subir:not(:hover){
        transform: scale(1) ;
        transition: 2s;
    }
        


// index

